@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
/* Desktop */
@media (min-width: 768px) {
html, body {
   /* overflow-x: hidden; */
  }
.Timer {
   gap: 2vw !important;
   justify-content: center !important;
  }
.Timer h1 {
   font-size: 2.5vw !important;
  }
.logozamarin{
   width: 5.5vw !important;
  }
.logomoatza{
   width: 6vw !important;
  }
p{
   font-size: 2vw !important;
  }
img.display{
   width: 15vw !important;
   height: 27vw !important;
  }
    }

/* Mobile/Standard */
html, body {
    height: 100%;
    font-family: "Carmela", sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("images/backgroundTunnle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; 
    box-sizing: border-box;
}
p{
    font-size: 5vw;
    color: #363011;
}
table{
     margin: 0 auto;
}
tr, td{
    line-height: 0.08;
}
div.body{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* overflow-x: hidden; */
}
.Timer {
  display: flex;
  justify-content: space-between; /* Adjust spacing */
  align-items: center;
  padding: 10px;
  background-color: #f3f0dd;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.Timer a {
  text-decoration: none;
}
.Timer h1 {
  font-size: 5vw;
  color: #f4ce14;
  margin: 0;
  text-align: center;
}

div.MainContent{
    /* display: inline; */
    text-align: center;
    /* overflow: hidden; */
    background-color: rgba(243, 240, 221, 0.85);
    top: auto;
    left: 0;
    width: 76vw;
    flex: 0;
    align-self: center;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    overflow-wrap: break-word;
    white-space: normal;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
img.display{
    padding: 1%;
    float: left;
    position: flex;
    border-radius: 4vw;
    width: 25vw;
    height: 44vw;
    /* overflow: hidden; */
}
.logozamarin{
  width: 11vw;
  height: auto;
}
.logomoatza{
  width: 13vw;
  height: auto;
}
.button-32 {
  background-color: #ffb300c2;
  border-radius: 12px;
  color: #413225;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 10px;
  text-align: center;
  transition: 200ms;
  width: auto;
  box-sizing: border-box;
  border: 0;
  font-size: 5vw;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #fcba21;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }