
body {
    padding: 0;
    margin: 0;
    background-image: url("images/backgroundTunnle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; 
     
}
p{
    font-size: 5vw;
    color: #F5F7F8;
}
table{
     margin: 0 auto;
}
tr, td{
    line-height: 0.08;
}
div.body{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
div.Timer{
    h1.Timer {
        font-size: 4vw;
        color: #f4ce14;
        text-align: center;
        }
    h1.TimerText{
        font-size: 4vw;
        color: #F4CE14;
        text-align: center;
    }
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    /* padding: 0.2% 1%; */
    background-color: #000000;
    line-height: 100px;
}
div.MainContent{
    /* display: inline; */
    text-align: center;
    overflow: hidden;
    background-color: #171718ea;
    top: auto;
    left: 0;
    width: 76vw;
    flex: 0;
    align-self: center;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    overflow-wrap: break-word;
    white-space: normal;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.button-32 {
  background-color: #000000;
  border-radius: 12px;
  color: #ce0404;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: auto;
  box-sizing: border-box;
  border: 0;
  font-size: 5vw;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
